<h2 style="text-align: center;">List Navigator</h2>
<div class="pagination">
    <a *ngIf="count != 1" (click)="showListArrows(-1)">&laquo;</a>
    <a (click)="showListNumbers(1)">1</a>
    <a (click)="showListNumbers(2)">2</a>
    <a (click)="showListNumbers(3)">3</a>
    <a (click)="showListNumbers(4)">4</a>
    <a (click)="showListNumbers(5)">5</a>
    <a *ngIf="count != 5" (click)="showListArrows(1)">&raquo;</a>
  </div>

<ul *ngIf="showpage1 == true" >
    <li *ngFor = "let person of page1">
        <span>First name: {{person.firstname}} || Last name:{{person.lastName}} || Age:{{person.age}} || Email: {{person.email}}</span> 
    </li>
</ul>

<ul *ngIf="showpage2 == true">
    <li *ngFor = "let person of page2">
        <span>First name: {{person.firstname}} || Last name:{{person.lastName}} || Age:{{person.age}} || Email: {{person.email}}</span> 
    </li>
</ul>

<ul *ngIf="showpage3 == true"  >
    <li *ngFor = "let person of page3">
        <span>First name: {{person.firstname}} || Last name:{{person.lastName}} || Age:{{person.age}} || Email: {{person.email}}</span> 
    </li>
</ul>

<ul *ngIf="showpage4 == true"  >
    <li *ngFor = "let person of page4">
        <span>First name: {{person.firstname}} || Last name:{{person.lastName}} || Age:{{person.age}} || Email: {{person.email}}</span> 
    </li>
</ul>

<ul *ngIf="showpage5 == true"  >
    <li *ngFor = "let person of page5">
        <span>First name: {{person.firstname}} || Last name:{{person.lastName}} || Age:{{person.age}} || Email: {{person.email}}</span> 
    </li>
</ul>
