<h2 style="text-align: center;">List Navigator</h2>
<div class="pagination">
    <a *ngIf="count != 1" (click)="showListArrows(-1)">&laquo;</a>
    <a (click)="showListNumbers(1)">1</a>
    <a (click)="showListNumbers(2)">2</a>
    <a (click)="showListNumbers(3)">3</a>
    <a (click)="showListNumbers(4)">4</a>
    <a (click)="showListNumbers(5)">5</a>
    <a *ngIf="count != 5" (click)="showListArrows(1)">&raquo;</a>
  </div>

<ul >
    <li *ngFor = "let person of pages">
        <span *ngIf = "count == person.page">First name: {{person.firstname}} || Last name:{{person.lastName}} || Age:{{person.age}} || Email: {{person.email}}</span> 
    </li>
</ul>

